﻿
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>Display</h2>

<h2>Welcome to AJAX View</h2>
<ul id="containerUL"></ul>

<input type="button" onclick="GetData()" value="Get Data" />



<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>

    function GetData() {

    $.ajax({
        url: "/Test/Test/2",
        contentType: "application/json",
        type: "GET",
        success: function (result) {
            debugger;
            $("#containerUL").html('');
            result.map((item) => {
                let liElement = "<li>" + item.Id + " | " + item.Name + " | " + item.Address + " | " + "</li>";
                $("#containerUL").append(liElement);
            });
            debugger;
        },
        error: function (error) {
            debugger;
            alert("Something is Wrong");
        }
    });

    }
    window.setInterval(GetData, 5000);
</script>