﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 
        ID : @Html.TextBox("Id")
        Name : @Html.TextBox("Name")
        Address : @Html.TextBox("Address")
        @Html.Label("Hello")
    </div>
</body>
</html>
