﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>About Us</h2>

@section CustomAds{
    <h4> Custom Ads1</h4>
    <h4> Custom Ads2</h4>
    <h4> Custom Ads3</h4>
}

<h2>Sunbeam</h2>
