﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>Contact Us</h2>

<form action="@ViewBag.Action" method="@ViewBag.Method">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" placeholder="Enter the Name" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="Number">Phone number</label>
        <input type="tel" id="Number" name="Number" placeholder="Enter the Number" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" placeholder="Enter the Email" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="Query">Query</label>
        <textarea type="text" id="Query" name="Query" placeholder="Enter the Query" rows="5" required class="form-control"></textarea>
    </div>
    <div class="form-group" style="text-align:center">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>
<div style="text-align:center;color:green;">
    @ViewBag.message
</div>
