﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>Add New Employee</h2>


<form action="/Home/Create" method="post">
    <div class="form-group">
        <label for="Id">Id</label>
        <input class="form-control" id="Id" name="Id" type="number" />
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" id="Name" name="Name" type="text" />
    </div>
    <div class="form-group">
        <label for="Address">Address</label>
        <input class="form-control" id="Address" name="Address" type="text"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
        <a href="/Home/Index" class="btn btn-warning">Cancel</a>
    </div>
</form>