﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h1>Something is not right here....Please try again after some time....</h1>
        <h4>Technical Details: </h4>
        <div>@Model.Message</div>
        <br />
        <a href="/Test/Show" class="btn btn-primary">Go to Home Page</a>
    </div>
</body>
</html>
