﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>@ViewBag.msg</h2>

<form action="/Home/Edit" method="post">
    <div class="form-group">
        <input class="form-control" id="Id" name="Id" type="hidden" value="@Model.Id" />
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" id="Name" name="Name" type="text" value="@Model.Name" />
    </div>
    <div class="form-group">
        <label for="Address">Address</label>
        <input class="form-control" id="Address" name="Address" type="text" value="@Model.Address" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Update</button>
        <a href="/Home/Index" class="btn btn-warning">Cancel</a>
    </div>
</form>