﻿
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>@ViewData["msg"]</h2>

<a href="/Home/Create" class="btn btn-success" style="margin:10px;float:right">Add</a>

<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th colspan="2">Action</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>
                <a href="/Home/Edit/@item.Id" class="btn btn-warning">Edit</a>
            </td>
            <td>
                <a href="/Home/Delete/@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </table>
</div>