﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Create</title>
</head>
<body>
    <div class="container">
        <div class="col-md-6">
            <div style="text-align:center"><h1>Add Employee</h1></div>
            <form action="/Test/AfterCreate" method="post">
                <div class="form-group">
                    <label for="Id">Id</label>
                    <input type="number" name="Id" id="Id" class="form-control" placeholder="Enter the Id"/>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name"  class="form-control" placeholder="Enter the Name"/>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" class="form-control" placeholder="Enter the Address"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Add</button>
                    <a href="/Test/Show" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
