﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Show</title>
</head>
<body>
    <div> 
        <div class="container">
            <a href="/Test/Create" class="btn btn-success" style="float:right;margin:10px">Create new Record</a>
            <table class="table table-bordered table-striped">
                <tr style="text-align:center">
                    <th>No</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th colspan="2">Action</th>
                </tr>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Name</td>
                        <td>@emp.Address</td>
                        <td>
                            <a href="/Test/Update/@emp.Id" class="btn btn-warning">Update</a>
                         </td>
                        <td>
                            <a href="/Test/Delete/@emp.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
