﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Update</title>
</head>
<body>
    <div class="container">
        <div class="col-md-6">
            <div style="text-align:center"><h1>Update Employee</h1></div>
            <form action="/Test/AfterUpdate" method="post">
                <div class="form-group">
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="@Model.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" value="@Model.Address" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Update</button>
                    <a href="/Test/Show" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
