﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XYZ</title>
</head>
<body>
    <div> 
        <h1>MVC Demo</h1>
        <h3>No : @Model.No</h3>
        <h2>Hello @Model.Name</h2>
        <h3>Address is @Model.Address</h3>
    </div>
</body>
</html>
