﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>Error</h2>

<div>
    <h2>Something is not right here.....Please try Again....</h2>
    <h4>Technial Details : </h4>
    <div>
        @Model.Exception.Message
    </div>
</div>
