﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <title>@ViewBag.Title</title>
    <style>
        body{
            position:relative;
        }
        h2{
            text-align:center;
            color:brown;
        }
        .table{
            text-align:center;
        }
        .nav-link{
            margin-left:30px;
        }

        footer {
            width: 100%;
            height: 60px;
            background-color: rgb(128, 128, 128);
            bottom: 0px;
            text-align: center;
            line-height: 60px;
            font-weight: bold;
        }

        .column{
            border:2px solid black;
            padding:10px;
            height:100vh;
            margin-bottom:10px;
        }
        .col-md-2 {
            background-color: aliceblue;
            margin-left: 25px;
            margin-right: 25px;
            text-align:center;
        }

        .col-md-2 div{
            margin-top:40px;
        }

        .col-md-2 div a{
            color:black;
        }
    </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">HR Application</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact Us</a>
                    </li>
                </ul>
            </div>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        Welcome @ViewBag.UserName
                        <br />
                        @if (ViewBag.UserName != "")
                        {
                            <a href="/Login/SignOut">Logout</a>
                        }
                        else
                        {
                            <a href="/Login/SignIn">Login</a>
                        }
                    </li>
                </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 column">
                    <div><a href="#">Menu</a></div>
                    <div><a href="#">Menu</a></div>
                    <div><a href="#">Menu</a></div>
                    <div><a href="#">Menu</a></div>
                    <div><a href="#">Menu</a></div>
                    <div><a href="#">Menu</a></div>
                </div>
                <div class="col-md-7 column">
                    @RenderBody()
                </div>
                <div class="col-md-2 column">
                    <div>Adv</div>
                    @RenderSection("CustomAds",false)
                </div>
            </div>
        </div>
        <div>
            <footer>
                FOOTER CONTENT
            </footer>
        </div>

</body>
</html>

